<form class="form-control">
  <p class="h4 title">Customer</p>

  <label for="inputName" class="sr-only">Name</label>
  <input type="text" id="inputName" name="customerName" placeholder="Customer's name"
         class="form-control mb-2 col-md-6" [(ngModel)]="customer.name" #name="ngModel"
         required />

  <label for="inputFederalIdentification" class="sr-only">Federal Identification</label>
  <input type="text" id="inputFederalIdentification" name="customerFederalIdentification" placeholder="Customer's federal identification"
         class="form-control mb-2 col-md-6" [(ngModel)]="customer.federalIdentification" #federalIdentification="ngModel"
         required />

  <label for="inputAddress" class="sr-only">Address</label>
  <input type="text" id="inputAddress" name="customerAddress" placeholder="Customer address"
         class="form-control mb-2 col-md-6" [(ngModel)]="customer.address.addressLine1" #address="ngModel"
         required />

  <div class="btn-group mb-2">
    <button class="btn btn-primary" (click)="save()" [disabled]="activateSpinner">
      <span class="spinner-border spinner-border-sm" *ngIf="activateSpinner"></span>
      Save
    </button>
    <button class="btn btn-secondary" [routerLink]="['/customer-search']">
      Cancel
    </button>
  </div>
</form>
