<form class="form-control border-0">
  <p class="h3 title mb-4">Customer</p>

  <div class="col-md-8 field-group rounded">
    <h5>Customer basic information</h5>
    <hr class="mb-2 col-md-11" />
    <div class="mb-2 col-md-12">
      <label for="inputName" class="sr-only">Name</label>
      <input type="text" id="inputName" name="customerName" placeholder="Customer's name"
             class="form-control" [(ngModel)]="customer.name"
             #name="ngModel"
             [ngClass]="{
            'is-invalid': name.invalid && (name.dirty || name.touched),
            'is-valid': name.valid
           }"
             required />
      <div class="invalid-feedback mb-2" *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required">
          Name is required
        </div>
      </div>
    </div>

    <div class="mb-4 col-md-12">
      <label for="inputFederalIdentification" class="sr-only">Federal identification</label>
      <input type="text" id="inputFederalIdentification" name="customerFederalIdentification" placeholder="Customer's federal identification"
             class="form-control" [(ngModel)]="customer.federalIdentification"
             #federalIdentification="ngModel"
             [ngClass]="{
            'is-invalid': federalIdentification.invalid && (federalIdentification.dirty || federalIdentification.touched),
            'is-valid': federalIdentification.valid
           }"
             required />
      <div class="invalid-feedback mb-2" *ngIf="federalIdentification.invalid && (federalIdentification.dirty || federalIdentification.touched)">
        <div *ngIf="federalIdentification.errors.required">
          Federal identification is required
        </div>
      </div>
    </div>

    <h5>Customer address</h5>
    <hr class="mb-2 col-md-11" />
    <div class="input-group mb-2 col-md-12">
      <span class="input-group-text">Address</span>
      <input type="text" aria-label="Address" name="customerAddress" placeholder="Address"
             class="form-control col-md-8" [(ngModel)]="customer.address.addressLine1"
             #address="ngModel"
             [ngClass]="{
            'is-invalid': address.invalid && (address.dirty || address.touched),
            'is-valid': address.valid
           }"
             required>
      <input type="text" aria-label="Additional address" name="customerAddressL2" placeholder="Additional address"
             class="form-control col-md-4" [(ngModel)]="customer.address.addressLine2"
             #address2="ngModel">
      <div class="invalid-feedback mb-2" *ngIf="address.invalid && (address.dirty || address.touched)">
        <div *ngIf="address.errors.required">
          Address is required
        </div>
      </div>
    </div>

    <div class="mb-4 col-md-12">
      <label for="inputPostalCode" class="sr-only">Zip code</label>
      <input type="text" id="inputPostalCode" name="postalCode" placeholder="Zip code"
             class="form-control" [(ngModel)]="customer.address.postalCode"
             #postalCode="ngModel"
             [ngClass]="{
            'is-invalid': postalCode.invalid && (postalCode.dirty || postalCode.touched),
            'is-valid': postalCode.valid
           }"
             required />
      <div class="invalid-feedback mb-2" *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)">
        <div *ngIf="postalCode.errors.required">
          Zip code is required
        </div>
      </div>
    </div>

    <h5>Customer contacts</h5>
    <hr class="mb-2 col-md-11" />
    <customer-register-contact [contacts]="customer.contacts" (newContactsEvent)="addContact($event)"></customer-register-contact>

    <div class="btn-group mb-2">
      <button class="btn btn-primary" (click)="save()" [disabled]="activateSpinner">
        <span class="spinner-border spinner-border-sm" *ngIf="activateSpinner"></span>
        Save
      </button>
      <button class="btn btn-secondary" [routerLink]="['/customer-search']">
        Cancel
      </button>
    </div>
    <div class="alert alert-danger col-md-12" *ngIf="message">
      {{message}}
    </div>
  </div>
</form>
