<p class="h4 mb-2">Customers Search</p>
<p *ngIf="!customers">Loading...</p>

<button class="btn btn-primary mb-2" (click)="addCustomer()">Add</button>
<div class="container-fluid">
  <table class="table table-hover" *ngIf="customers">
    <thead>
      <tr>
        <th class="col-4">Federal Identification</th>
        <th class="col-6">Name</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let c of customers">
        <td class="col-4">{{c.federalIdentification}}</td>
        <td class="col-6">{{c.name}}</td>
        <td class="col-2">
          <div class="btn-group">
            <button class="btn btn-outline-success btn-md fa fa-edit" (click)="editCustomer(p)"></button>
          </div>
          <div class="btn-group btn-left-margin">
            <button class="btn btn-outline-danger btn-md fa fa-trash" (click)="removeCustomer(p.id)"></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
