<div class="card card-body flex-fill">
  <div class="col-sm-12">
    <h6>Customers</h6>
    <ol class="list-group" *ngIf="customers">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let c of customers">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><p class="font-weight-bold"><i class="fa fa-user"></i> {{c.name}}</p></div>
          <p class="font-weight-light">{{c.contacts.length == 0 ? '--' : c.contacts[0].email}}</p>
        </div>
        <span class="badge bg-secondary rounded-pill float-right">{{c.federalIdentification}}</span>
      </li>
    </ol>
    <div class="text-center" *ngIf="!customers">
      <img src="/assets/images/eclipse_sm.gif" />
    </div>
  </div>
</div>
