<form class="form-control">
  <p class="h4 title">Customer</p>

  <label for="inputInvoice" class="sr-only">Invoice</label>
  <input type="text" id="inputInvoice" name="billingInvoice" placeholder="Billing invoice"
         class="form-control mb-2 col-md-6" [(ngModel)]="billing.invoiceNumber" #invoiceNumber="ngModel"
         required />

  <div class="form-group">
    <div class="input-group">
      <input class="form-control col-md-3" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
